hr {
  border: 2px solid black;
}

.table-bordered td, .table-bordered th {
  border: 1px solid black;
  font-family: Times New Roman;
}

.keterangan {
  font-family: Times New Roman;
  padding: 0px 240px;
}

p {
  font-family: 'Times New Roman';
}

